In [1]:
import os
os.getcwd()

'C:\\Users\\jeong\\Documents\\GITHUB\\Animated-Bar-charts-in-R'

In [2]:
import pandas as pd
import numpy as np

In [3]:
covid = pd.read_csv('data/covid-19-all.csv')

In [4]:
covid.head()

  Country/Region Province/State  Confirmed  Recovered  Deaths        Date
0            NaN            NaN    51526.0    41727.0  2191.0  2021-01-01
1            NaN            NaN    58316.0    33634.0  1181.0  2021-01-01
2            NaN            NaN    99897.0    67395.0  2762.0  2021-01-01
3            NaN            NaN     8117.0     7463.0    84.0  2021-01-01
4            NaN            NaN    17568.0    11146.0   405.0  2021-01-01

In [24]:
covid.shape

(1048575, 6)

In [11]:
covid.columns

Index(['Country/Region', 'Province/State', 'Confirmed', 'Recovered', 'Deaths',
       'Date'],
      dtype='object')

In [27]:
covid = covid[-covid['Country/Region'].isna()]   #NaN 제거
covid.head()

      Country/Region Province/State  Confirmed  Recovered  Deaths        Date
83523          China          Anhui        1.0        NaN     NaN  2020-01-22
83524          China        Beijing       14.0        NaN     NaN  2020-01-22
83525          China      Chongqing        6.0        NaN     NaN  2020-01-22
83526          China         Fujian        1.0        NaN     NaN  2020-01-22
83527          China          Gansu        NaN        NaN     NaN  2020-01-22

In [29]:
covid.shape

(877514, 6)

In [37]:
covid_groupby = covid.groupby(['Date', 'Country/Region',]).sum()
covid_groupby.head()

                           Confirmed  Recovered  Deaths
Date       Country/Region
2020-01-22 China               547.0       28.0    17.0
           Hong Kong             0.0        0.0     0.0
           Japan                 2.0        0.0     0.0
           Macau                 1.0        0.0     0.0
           South Korea           1.0        0.0     0.0

In [42]:
covid_groupby.to_csv('data/covid.csv')